body {
    background-color: grey;
    text-align: center;
}

.selezione {
    display: inline;
    margin: 5px;
    cursor: pointer;
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}